@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 57, 61, 63;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 57, 61, 63;
  }
}

body {
  color: rgb(184, 184, 184);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(var(--primary));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
